<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chicago Community Crime</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div>
      <h2 align="center"> Chicago Community Crime App </h2>
      <p> This big data app will show the historic crime rate (average number of crimes per day per unit of community area size) at different Chicago communities under different weather conditions. The app might be helpful for research, real estate transactions, and daily communiting. The data sources are <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime</a> dataset and <a href="https://data.noaa.gov/dataset/dataset/global-surface-summary-of-the-day-gsod">NOAA GSOD</a> dataset. </p>
      <p> To use the app, simply put one of the Chicago community names, such as "Hyde Park", and click "Get Crime Info". </p>
      <p> To add new weather data to the database, please use the <a href="submit-weather">weather submission form</a>. </p>
      <p> To add new crime data to the database, please use the <a href="submit-crime">crime submission form</a>. </p>
      <p> There will also be simulated or live new crime data stream going into the database. </p>
    </div>
    <div class="container">
      <fieldset>
        <h3 align="center"> Query Chicago Community Crime </h3>
        <form action="/" method="post">
          <!-- <label for="community_selection">Select Community:</label> -->
          <select name="community" id="community_selection">
            <option selected disabled, value="-">Select Chicago Community</option>
            <option value="albany park">Albany Park</option>
            <option value="archer heights">Archer Heights</option>
            <option value="armour square">Armour Square</option>
            <option value="ashburn">Ashburn</option>
            <option value="auburn gresham">Auburn Gresham</option>
            <option value="austin">Austin</option>
            <option value="avalon park">Avalon Park</option>
            <option value="avondale">Avondale</option>
            <option value="belmont cragin">Belmont Cragin</option>
            <option value="beverly">Beverly</option>
            <option value="bridgeport">Bridgeport</option>
            <option value="brighton park">Brighton Park</option>
            <option value="burnside">Burnside</option>
            <option value="calumet heights">Calumet Heights</option>
            <option value="chatham">Chatham</option>
            <option value="chicago lawn">Chicago Lawn</option>
            <option value="clearing">Clearing</option>
            <option value="douglas">Douglas</option>
            <option value="dunning">Dunning</option>
            <option value="east garfield park">East Garfield Park</option>
            <option value="east side">East Side</option>
            <option value="edgewater">Edgewater</option>
            <option value="edison park">Edison Park</option>
            <option value="englewood">Englewood</option>
            <option value="forest glen">Forest Glen</option>
            <option value="fuller park">Fuller Park</option>
            <option value="gage park">Gage Park</option>
            <option value="garfield ridge">Garfield Ridge</option>
            <option value="grand boulevard">Grand Boulevard</option>
            <option value="greater grand crossing">Greater Grand Crossing</option>
            <option value="hegewisch">Hegewisch</option>
            <option value="hermosa">Hermosa</option>
            <option value="humboldt park">Humboldt Park</option>
            <option value="hyde park">Hyde Park</option>
            <option value="irving park">Irving Park</option>
            <option value="jefferson park">Jefferson Park</option>
            <option value="kenwood">Kenwood</option>
            <option value="lake view">Lake View</option>
            <option value="lincoln park">Lincoln Park</option>
            <option value="lincoln square">Lincoln Square</option>
            <option value="logan square">Logan Square</option>
            <option value="loop">Loop</option>
            <option value="lower west side">Lower West Side</option>
            <option value="mckinley park">Mckinley Park</option>
            <option value="montclare">Montclare</option>
            <option value="morgan park">Morgan Park</option>
            <option value="mount greenwood">Mount Greenwood</option>
            <option value="near north side">Near North Side</option>
            <option value="near south side">Near South Side</option>
            <option value="near west side">Near West Side</option>
            <option value="new city">New City</option>
            <option value="north center">North Center</option>
            <option value="north lawndale">North Lawndale</option>
            <option value="north park">North Park</option>
            <option value="norwood park">Norwood Park</option>
            <option value="oakland">Oakland</option>
            <option value="ohare">O'Hare</option>
            <option value="portage park">Portage Park</option>
            <option value="pullman">Pullman</option>
            <option value="riverdale">Riverdale</option>
            <option value="rogers park">Rogers Park</option>
            <option value="roseland">Roseland</option>
            <option value="south chicago">South Chicago</option>
            <option value="south deering">South Deering</option>
            <option value="south lawndale">South Lawndale</option>
            <option value="south shore">South Shore</option>
            <option value="uptown">Uptown</option>
            <option value="washington heights">Washington Heights</option>
            <option value="washington park">Washington Park</option>
            <option value="west elsdon">West Elsdon</option>
            <option value="west englewood">West Englewood</option>
            <option value="west garfield park">West Garfield Park</option>
            <option value="west lawn">West Lawn</option>
            <option value="west pullman">West Pullman</option>
            <option value="west ridge">West Ridge</option>
            <option value="west town">West Town</option>
            <option value="woodlawn">Woodlawn</option>
          </select>
          <!-- <input name="community" type="text" class="ghost-input" placeholder="Enter a Chicago Community" required> -->
          <input type="submit" class="ghost-button" value="Get Crime Info">
        </form>
        <% if(error_weather !== null){ %>
          <br>
          <p><%= error_weather %></p>
        <% } %>
        <% if(crime_weather !== null){ %>
          <br>
          <table>
            <tr>
              <th>Community</th>
              <th>Clear</th>
              <th>Fog</th>
              <th>Rain</th>
              <th>Snow</th>
              <th>Hail</th>
              <th>Thunder</th>
              <th>Tornado</th>
            </tr>
            <tr>
              <td><%= communityName %></td>
              <td><%= crimeClear %></td>
              <td><%= crimeFog %></td>
              <td><%= crimeRain %></td>
              <td><%= crimeSnow %></td>
              <td><%= crimeHail %></td>
              <td><%= crimeThunder %></td>
              <td><%= crimeTornado %></td>
            </tr>
          </table>
        <% } %>
      </fieldset>
      <fieldset>
        <h3 align="center"> Query Chicago Taxi Trips </h3>
        <form action="/taxi" method="post">
          <!-- <label for="community_selection">Select Community:</label> -->
          <select name="community_pickup" id="community_selection">
            <option selected disabled, value="-">Select Chicago Community To Picup</option>
            <option value="albany park">Albany Park</option>
            <option value="archer heights">Archer Heights</option>
            <option value="armour square">Armour Square</option>
            <option value="ashburn">Ashburn</option>
            <option value="auburn gresham">Auburn Gresham</option>
            <option value="austin">Austin</option>
            <option value="avalon park">Avalon Park</option>
            <option value="avondale">Avondale</option>
            <option value="belmont cragin">Belmont Cragin</option>
            <option value="beverly">Beverly</option>
            <option value="bridgeport">Bridgeport</option>
            <option value="brighton park">Brighton Park</option>
            <option value="burnside">Burnside</option>
            <option value="calumet heights">Calumet Heights</option>
            <option value="chatham">Chatham</option>
            <option value="chicago lawn">Chicago Lawn</option>
            <option value="clearing">Clearing</option>
            <option value="douglas">Douglas</option>
            <option value="dunning">Dunning</option>
            <option value="east garfield park">East Garfield Park</option>
            <option value="east side">East Side</option>
            <option value="edgewater">Edgewater</option>
            <option value="edison park">Edison Park</option>
            <option value="englewood">Englewood</option>
            <option value="forest glen">Forest Glen</option>
            <option value="fuller park">Fuller Park</option>
            <option value="gage park">Gage Park</option>
            <option value="garfield ridge">Garfield Ridge</option>
            <option value="grand boulevard">Grand Boulevard</option>
            <option value="greater grand crossing">Greater Grand Crossing</option>
            <option value="hegewisch">Hegewisch</option>
            <option value="hermosa">Hermosa</option>
            <option value="humboldt park">Humboldt Park</option>
            <option value="hyde park">Hyde Park</option>
            <option value="irving park">Irving Park</option>
            <option value="jefferson park">Jefferson Park</option>
            <option value="kenwood">Kenwood</option>
            <option value="lake view">Lake View</option>
            <option value="lincoln park">Lincoln Park</option>
            <option value="lincoln square">Lincoln Square</option>
            <option value="logan square">Logan Square</option>
            <option value="loop">Loop</option>
            <option value="lower west side">Lower West Side</option>
            <option value="mckinley park">Mckinley Park</option>
            <option value="montclare">Montclare</option>
            <option value="morgan park">Morgan Park</option>
            <option value="mount greenwood">Mount Greenwood</option>
            <option value="near north side">Near North Side</option>
            <option value="near south side">Near South Side</option>
            <option value="near west side">Near West Side</option>
            <option value="new city">New City</option>
            <option value="north center">North Center</option>
            <option value="north lawndale">North Lawndale</option>
            <option value="north park">North Park</option>
            <option value="norwood park">Norwood Park</option>
            <option value="oakland">Oakland</option>
            <option value="ohare">O'Hare</option>
            <option value="portage park">Portage Park</option>
            <option value="pullman">Pullman</option>
            <option value="riverdale">Riverdale</option>
            <option value="rogers park">Rogers Park</option>
            <option value="roseland">Roseland</option>
            <option value="south chicago">South Chicago</option>
            <option value="south deering">South Deering</option>
            <option value="south lawndale">South Lawndale</option>
            <option value="south shore">South Shore</option>
            <option value="uptown">Uptown</option>
            <option value="washington heights">Washington Heights</option>
            <option value="washington park">Washington Park</option>
            <option value="west elsdon">West Elsdon</option>
            <option value="west englewood">West Englewood</option>
            <option value="west garfield park">West Garfield Park</option>
            <option value="west lawn">West Lawn</option>
            <option value="west pullman">West Pullman</option>
            <option value="west ridge">West Ridge</option>
            <option value="west town">West Town</option>
            <option value="woodlawn">Woodlawn</option>
          </select>
          <select name="community_dropoff" id="community_selection">
            <option selected disabled, value="-">Select Chicago Community To Dropoff</option>
            <option value="albany park">Albany Park</option>
            <option value="archer heights">Archer Heights</option>
            <option value="armour square">Armour Square</option>
            <option value="ashburn">Ashburn</option>
            <option value="auburn gresham">Auburn Gresham</option>
            <option value="austin">Austin</option>
            <option value="avalon park">Avalon Park</option>
            <option value="avondale">Avondale</option>
            <option value="belmont cragin">Belmont Cragin</option>
            <option value="beverly">Beverly</option>
            <option value="bridgeport">Bridgeport</option>
            <option value="brighton park">Brighton Park</option>
            <option value="burnside">Burnside</option>
            <option value="calumet heights">Calumet Heights</option>
            <option value="chatham">Chatham</option>
            <option value="chicago lawn">Chicago Lawn</option>
            <option value="clearing">Clearing</option>
            <option value="douglas">Douglas</option>
            <option value="dunning">Dunning</option>
            <option value="east garfield park">East Garfield Park</option>
            <option value="east side">East Side</option>
            <option value="edgewater">Edgewater</option>
            <option value="edison park">Edison Park</option>
            <option value="englewood">Englewood</option>
            <option value="forest glen">Forest Glen</option>
            <option value="fuller park">Fuller Park</option>
            <option value="gage park">Gage Park</option>
            <option value="garfield ridge">Garfield Ridge</option>
            <option value="grand boulevard">Grand Boulevard</option>
            <option value="greater grand crossing">Greater Grand Crossing</option>
            <option value="hegewisch">Hegewisch</option>
            <option value="hermosa">Hermosa</option>
            <option value="humboldt park">Humboldt Park</option>
            <option value="hyde park">Hyde Park</option>
            <option value="irving park">Irving Park</option>
            <option value="jefferson park">Jefferson Park</option>
            <option value="kenwood">Kenwood</option>
            <option value="lake view">Lake View</option>
            <option value="lincoln park">Lincoln Park</option>
            <option value="lincoln square">Lincoln Square</option>
            <option value="logan square">Logan Square</option>
            <option value="loop">Loop</option>
            <option value="lower west side">Lower West Side</option>
            <option value="mckinley park">Mckinley Park</option>
            <option value="montclare">Montclare</option>
            <option value="morgan park">Morgan Park</option>
            <option value="mount greenwood">Mount Greenwood</option>
            <option value="near north side">Near North Side</option>
            <option value="near south side">Near South Side</option>
            <option value="near west side">Near West Side</option>
            <option value="new city">New City</option>
            <option value="north center">North Center</option>
            <option value="north lawndale">North Lawndale</option>
            <option value="north park">North Park</option>
            <option value="norwood park">Norwood Park</option>
            <option value="oakland">Oakland</option>
            <option value="ohare">O'Hare</option>
            <option value="portage park">Portage Park</option>
            <option value="pullman">Pullman</option>
            <option value="riverdale">Riverdale</option>
            <option value="rogers park">Rogers Park</option>
            <option value="roseland">Roseland</option>
            <option value="south chicago">South Chicago</option>
            <option value="south deering">South Deering</option>
            <option value="south lawndale">South Lawndale</option>
            <option value="south shore">South Shore</option>
            <option value="uptown">Uptown</option>
            <option value="washington heights">Washington Heights</option>
            <option value="washington park">Washington Park</option>
            <option value="west elsdon">West Elsdon</option>
            <option value="west englewood">West Englewood</option>
            <option value="west garfield park">West Garfield Park</option>
            <option value="west lawn">West Lawn</option>
            <option value="west pullman">West Pullman</option>
            <option value="west ridge">West Ridge</option>
            <option value="west town">West Town</option>
            <option value="woodlawn">Woodlawn</option>
          </select>
          <!-- <input name="community" type="text" class="ghost-input" placeholder="Enter a Chicago Community" required> -->
          <input type="submit" class="ghost-button" value="Get Trip Info">
        <% if(error_taxi !== null){ %>
          <br>
          <p><%= error_taxi %></p>
        <% } %>
        <% if(crime_taxi !== null){ %>
          <br>
          <table>
            <tr>
              <th>Community</th>
              <th>Clear</th>
              <th>Fog</th>
              <th>Rain</th>
              <th>Snow</th>
              <th>Hail</th>
              <th>Thunder</th>
              <th>Tornado</th>
            </tr>
            <tr>
              <td><%= communityName1 %></td>
              <td><%= crimeClear1 %></td>
              <td><%= crimeFog1 %></td>
              <td><%= crimeRain1 %></td>
              <td><%= crimeSnow1 %></td>
              <td><%= crimeHail1 %></td>
              <td><%= crimeThunder1 %></td>
              <td><%= crimeTornado1 %></td>
            </tr>
            <tr>
              <td><%= communityName2 %></td>
              <td><%= crimeClear2 %></td>
              <td><%= crimeFog2 %></td>
              <td><%= crimeRain2 %></td>
              <td><%= crimeSnow2 %></td>
              <td><%= crimeHail2 %></td>
              <td><%= crimeThunder2 %></td>
              <td><%= crimeTornado2 %></td>
            </tr>
          </table>
          <br>

          <table>
            <tr>
              <th>Pickup Community</th>
              <th>Dropoff Community</th>
              <th>Average Cost ($)</th>
              <th>Average Time (minute)</th>
              <th>Average frequency per day</th>
            </tr>
            <tr>
              <td><%= communityName1 %></td>
              <td><%= communityName2 %></td>
              <td><%= costAvg1 %></td>
              <td><%= timeAvg1 %></td>
              <td><%= frequency1 %></td>
            </tr>
            <tr>
              <td><%= communityName2 %></td>
              <td><%= communityName1 %></td>
              <td><%= costAvg2 %></td>
              <td><%= timeAvg2 %></td>
              <td><%= frequency2 %></td>
            </tr>
          </table>


        <% } %>
        </form>
      </fieldset>
    </div>
    <div>
      <!-- https://expressjs.com/en/starter/static-files.html -->
      <!-- https://stackoverflow.com/questions/21235696/display-images-in-html-nodejs -->
      <p> Find your community from the following map or <a href="https://en.wikipedia.org/wiki/Community_areas_in_Chicago">Wikipedia</a>.</p>
      <img src="/images/Chicago_community_areas_map.png" alt="Chicago Communities" class="center" width="50%">
    </div>
  </body>
</html>